# Copy build.properties.example to build.properties file
# and change the properties values to that of your system.
win.key.private=C:\PuTTY\id_rsa_jurek.ppk
lin.key.private=/media/veracrypt1/id_rsa_hp_jurek
linux.pidemo.dir=/home/pi/pidemo
